<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Breast Cancer Prediction</h1>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('predict') }}">Predict</a>
                <a href="{{ url_for('status') }}">API Status</a>
                <a href="{{ url_for('aboutus_page')}}">About us</a>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h2>Empowering Early Detection</h2>
            <p>Our tool leverages AI to support healthcare professionals in the early detection of breast cancer. Let's make a difference together.</p>
            <a href="{{ url_for('predict') }}" class="cta-button">Start Prediction</a>
        </div>
    </section>

    <main>
        <section class="intro">
            <h2>About Our Prediction Tool</h2>
            <p>Using machine learning, this tool predicts the likelihood of breast cancer, assisting in the quick and reliable analysis of patient data.</p>
            <a href="{{ url_for('learnmore_page') }}" class="cta-button secondary-button">Learn More About The Breast Cancer</a>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Breast Cancer Prediction | All rights reserved</p>
            <p>Developed by ARAGOU Wassef & AGJOUD Imad & MALIH Mouad </p>
        </div>
    </footer>
</body>
</html>
