<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1>Breast Cancer Prediction</h1>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('predict') }}">Predict</a>
                <a href="{{ url_for('status') }}">API Status</a>
                <a href="{{ url_for('aboutus_page')}}">About us</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="status-section">
            <h2>API Status</h2>
            <div id="statusResult" class="status-box">Checking API status...</div>
            <button class="cta-button" onclick="checkApiStatus()">Check Status</button>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Breast Cancer Prediction | All rights reserved</p>
            <p>Developed by ARAGOU Wassef & AGJOUD Imad & MALIH Mouad </p>
        </div>
    </footer>
</body>
</html>
